<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-websocketservice" version="0.0.1">
    <name>WebsocketServicePlugin</name>

    <description>An Android Cordova plugin.</description>
    <license>MIT</license>

    <keywords>cordova,android,websocket</keywords>
    <repo>https://github.com/eclettica/WebsocketServicePlugin.git</repo>
    <issue>https://github.com/eclettica/WebsocketServicePlugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <!-- dependencies -->
    <dependency id="cordova-plugin-device" />
    <dependency id="cordova-plugin-background-mode" />

    <js-module src="www/websocketService.js" name="WebsocketServicePlugin">
        <clobbers target="window.plugins.websocketServicePlugin" />
    </js-module>
    <platform name="android">
        <framework src="tech.gusavila92:java-android-websocket-client:1.1.4" />
        <framework src="com.android.support:support-v4:27.+" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebsocketServicePlugin">
                <param name="android-package" value="it.linup.cordova.plugin.WebsocketServicePlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service 
            android:name="it.linup.cordova.plugin.services.WebsocketService"
            android:enabled="true"
            android:exported="true">
                <intent-filter>         
                    <action android:name="it.linup.cordova.plugin.services.WebsocketService"/> 
                </intent-filter>     
            </service>
        </config-file>
        <!-- <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="overwrite">
            <activity android:name="MainActivity" android:label="NewLabel" android:configChanges="orientation|keyboardHidden" />
        </edit-config> -->

        <source-file src="src/android/WebsocketServicePlugin.java" target-dir="src/it/linup/cordova/plugin" />
        <source-file src="src/android/WebSocketNativeModule.java" target-dir="src/it/linup/cordova/plugin" />
        <source-file src="src/android/utils/FileUtils.java" target-dir="src/it/linup/cordova/plugin/utils" />
        <source-file src="src/android/utils/LogUtils.java" target-dir="src/it/linup/cordova/plugin/utils" />
        <source-file src="src/android/services/WebsocketService.java" target-dir="src/it/linup/cordova/plugin/services" />
        <source-file src="src/android/services/NotificationService.java" target-dir="src/it/linup/cordova/plugin/services" />
    </platform>
</plugin>
